#line{
    position: absolute;
    display: inline-block;
    top:5px;
    left: 0px;
    z-index: 0;
}
#onpu{
	display: flex;
    justify-content:center;
    height: 15ch;
    width: 70ch;
    background-image: url("./line.png");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    margin-top: 10px;
    margin-left: 20px;
}
