#line{
    position: absolute;
    display: inline-block;
    top:5px;
    left: 0px;
    z-index: 0;
}
#onpu{
	display: flex;
    justify-content:center;
    height: 15ch;
    width: 75ch;
    background-image: url("./line.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
}
img{
    margin-left: 20px;
}
